.App-link {
  color: #61dafb;
}


.App {
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 600px;
  background: var(--background);
  color: var(--font-color);
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
}

.article {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
} 



Main content styles
.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
} 

.main-content h2 {
  margin-top: 0;
}

.main-content p {
  line-height: 1.5;
} */


.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}



.App {
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 600px;
  background: #fff;
  color: #333;
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--font-color);
}

 .App {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 600px;
  background: #fff;
  color: #333;
  box-shadow: 4px 4px 10px rgba(33, 33, 33, 0.2);
  border-radius: 10px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: Center;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--font-color);
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.main-content h2 {
  margin-top: 0;
}

.main-content p {
  line-height: 1.5;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
